<div id="description-panel" class="col-sm-2" ng-include=" 'template/description_panel.html' ">
  
</div>
<div id="exercise-pane" class="col-sm-8">

<div class="container body-content app-container">
      <div class="row">
        <div id="exercise-pane" class="col-sm-8 col-sm-offset- ">
          <div class="row workout-content">
            <div class="workout-display-div">
              <h1>{{currentExercise.exercise.title}}</h1>
              <img class="img-responsive" ng-src="{{currentExercise.exercise.image}}"/>
              <div class="progress time-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{currentExercise.duration}}" ng-style="{'width':(currentExerciseDuration/currentExercise.duration)*100+'%'}"></div>
              </div>
            </div>
            <h1>Time Remaining : {{currentExercise.duration-currentExerciseDuration}}</h1>
          </div>
        </div>
</div>
</div>
</div>

<div id="video-panel" class="col-sm-2" ng-include=" 'template/video_panel.html' "></div>